body{
    margin: 0
}

.flex {
    display: flex
}

.wrap {
    flex-wrap: wrap
}

.scroll {
    width: 100%;
}

.carusel{
    margin-bottom: 10%;
    margin-top: -10px
}

.parallax-container {
  height: 400px
}

.ava-paral {
    height: 200px;
    display: none
}

.name-div {
	position: absolute;
    padding-top: -10%;
	top: 30%;
	width: 80%;
	left: 10%;
	opacity: 0.95;
    font-family: "Courier New", Courier, monospace
}

.name-img-web {
	position: absolute;
	top: 15%;
	left: 5%;
}

.name-img-name {
	position: absolute;
	top: 50%;
	left: 5%;
}

.nav-div {
	height: 150px;
}

.scroll-l {
	margin: 5% 3.125% 0% 6.25%;
	transition: 2s;
    opacity: 0;
    width: 25%
}

.scroll-c {
	margin: 20% 3.125% 0 3.125%;
	transition: 2s;
    opacity: 0;
    width: 25%
}

.scroll-r {
	margin: 5% 6.25% 0% 3.125%;
	transition: 2s;
    opacity: 0;
    width: 25%
}

.aboutMe-div {
    height: 300%;
}

